aside {
  width: 25%;
  margin-left: 20px;
  .basketItems{
    list-style: none;
    padding: 0;
    margin: 0;
    .item{
      display: flex;
      justify-content: space-between;
      margin: 5px 0;
      img{
        cursor: pointer;
      }
    }
  }
}

