.text{
  color: pink;
}

.goods {
  width: 100%;
  background-color: #f7fbfe;
  padding: 20px;
  box-sizing: border-box;
}

.subTitle{
  margin-bottom: 5px;
  font-size: 20px;
}

.buttonWrapper{
  display: flex;
  justify-content: flex-end;
}
