$colors: ("bodyBcgrColor": #21232e, "cardsAndFooterBcg": #3b3f50, 'btnBcgr': #e3ac00,'headerTextColor': #fff, 'textBcgrColor': #ff4e33,'banerStartColor': #da9e09, 'banerEndColor': #97334e, 'colorWhite': #fff);
$containerWidth: 1330px;
$font: 'Source Sans Pro';
$headerBackgrImg: url(../img/m-h-night.jpg);
$borderRadius: 10px;
$posCenter: 0 auto;

