$colors: ("bodyBcgrColor": #fff, "cardsAndFooterBcg": #21232e, 'btnBcgr': #699900,'headerTextColor': #000, 'textBcgrColor': #14a0c7,'banerStartColor': #66960b,
'banerEndColor': #305ece, 'colorWhite': #fff);
$containerWidth: 1330px;
$font: 'Hind';
$headerBackgrImg: url(../img/m-h-day.jpg);
$borderRadius: 10px;
$posCenter: 0 auto;

